// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #b1d3a1;
$secondary: #bcd8b5;
$accent: #c8d36d;

$dark: #333;
$dark-page: #ccc;

$positive: #b9aa81;
$negative: #ee1a38;
$info: #08998f;
$warning: #f2c037;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap");

body {
  font-family: "Noto Sans TC", sans-serif !important;
  font-weight: 300;
}

.font-Noto {
  font-family: "Noto Sans TC", sans-serif !important;
  font-weight: 500;
}

.body--dark {
  .q-tab--inactive {
    color: #fff !important;
  }
  .infoPage {
    background-color: $dark;
  }
}
